body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  line-height: 1.8;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.banner {
  width: 100%;
  height: 400px;
  background: no-repeat center center/cover;
  position: relative;
}
.banner {
  background-size: cover !important; /* Ensures the image covers the entire div */
  background-position: center !important; /* Centers the image */
  background-repeat: no-repeat !important; /* Prevents the image from repeating */
}

.banner h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 30px;
  font-size: 36px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0;
}

.content {
  padding: 20px;
  background-color: white;
  transform: translateY(50px); /* Start slightly below the normal position */
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.content.visible {
  transform: translateY(0); /* Move to the normal position */
  opacity: 1; /* Fade in */
}

.content h2,
.content h3,
.content h4,
.content h5 {
  font-size: 28px;
  color: #444;
  margin-bottom: 15px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-top: 30px;
}

.useful-head h5 {
  border-bottom: none;
}

.contact-section h2 {
  border-bottom: none;
}

p,
ul,
ol {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.6;
}

ul,
ol {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 28px;
    padding: 10px 20px;
  }
  h2 {
    font-size: 24px;
  }
  p,
  ul,
  ol {
    font-size: 16px;
  }
}
